.waiting-wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 180vh;
  height: 100vh;
  background: linear-gradient(to right, #007bff, #0056b3);
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  overflow: hidden;
  perspective: 1000px; 
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease;
}

.cog {
  font-size: 150px;
  margin-right: 20px;
  color: #ffffff;
  animation: spin 2s linear infinite; 
}

.title {
  font-size: 2.5em;
  margin: 20px 0;
}

.info-text {
  max-width: 600px;
  margin: 10px 0 30px;
  font-size: 1.2em;
}

.animation-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.animated-dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ffffff;
  animation: bounce 1s infinite;
  transform: translateZ(20px); 
}

.animated-dot:nth-child(1) {
  animation-delay: 0s;
}

.animated-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.animated-dot:nth-child(3) {
  animation-delay: 0.4s;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar::before {
  content: '';
  position: absolute;
  left: -100%;
  height: 100%;
  background: #ffffff;
  animation: loading 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) translateZ(20px);
  }
  50% {
    transform: translateY(-20px) translateZ(20px);
  }
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
